@keyframes movement_1 {
	0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movement_2 {
	0% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movement_3 {
	0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movement_4 {
	0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sky {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  	z-index: -4;
	overflow: hidden;
}

.sky__phase {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: opacity 0.2s;
	z-index: -4;
	overflow: hidden;
}

.sky__0__4 {
	background: linear-gradient(
		0deg,
		rgba(10, 1, 33, 1) 0%,
		rgba(4, 0, 14, 1) 100%
	);
	animation: linear movement_3 1 5s forwards;
}

.sky__4__8__m {
	background: linear-gradient(
		0deg,
		rgba(225, 210, 196, 1) 0%,
		rgba(195, 225, 243, 1) 80%
	);
	animation: linear movement_4 1 5s forwards;
}

.sky__4__8__s {
	background: linear-gradient(
		0deg,
		rgba(225, 210, 196, 1) 0%,
		rgba(195, 225, 243, 1) 80%
	);
	animation: linear movement_1 1 5s forwards;
}

.sky__8__12 {
	background: linear-gradient(
		0deg,
		rgba(255, 244, 214, 1) -20%,
		rgba(140, 184, 228, 1) 100%
	);
	animation: linear movement_2 1 5s forwards;
}

.sky__12__16 {
	background: linear-gradient(
		0deg,
		rgba(205, 237, 246, 1) 0%,
		rgba(111, 172, 225, 1) 90%
	);
	animation: linear movement_3 1 5s forwards;
}

.sky__16__20__m {
	background: linear-gradient(
		0deg,
		rgba(206, 172, 144, 1) -10%,
		rgba(101, 118, 176, 1) 100%
	);
	animation: linear movement_1 1 5s forwards;
}

.sky__16__20__s {
	background: linear-gradient(
		0deg,
		rgba(206, 172, 144, 1) -10%,
		rgba(101, 118, 176, 1) 100%
	);
	animation: linear movement_4 1 5s forwards;
}

.sky__20__24 {
	background: linear-gradient(
		0deg,
		rgba(100, 125, 176, 0.6) -40%,
		rgba(10, 0, 94, 1) 100%
	);
	animation: linear movement_2 1 5s forwards;
}

.sun {
	position: absolute;
	bottom: 0;
	margin: 20px;
	width: 80px;
	height: 80px;
	background-color: rgb(254, 215, 102);
	border-radius: 50%;
	box-shadow: 0 0 14px 14px rgba(254, 215, 102, 0.2);
	z-index: -4;
}

.moon {
	position: absolute;
	bottom: 0;
	margin: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.2);
	z-index: -4;
}

@media screen and (max-width: 768px){
    .sun, .moon{
        display: none;
    }
    
}

.stars {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  z-index: -1;
}