@keyframes dawn {
	0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes noon {
	0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dusk {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes midnight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sky {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  	z-index: -1;
	overflow: hidden;
}

.sky__phase {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: opacity 0.2s;
	z-index: -1;
	overflow: hidden;
}

.sky__dawn {
	background: linear-gradient(
		0deg,
		rgba(254, 215, 102, 1) 0%,
		rgba(205, 237, 246, 1) 100%
	);
	animation: linear dawn 1 7s forwards;
}

.sky__noon {
	background: linear-gradient(
		0deg,
		rgba(205, 237, 246, 1) 0%,
		rgba(36, 123, 160, 1) 100%
	);
	animation: linear noon 1 7s forwards;
}

.sky__dusk {
	background: linear-gradient(
		0deg,
		rgba(255, 32, 110, 1) 0%,
		rgba(10, 0, 94, 1) 100%
	);
	animation: linear dusk 1 7s forwards;
}

.sky__midnight {
	background: linear-gradient(
		0deg,
		rgba(2, 0, 20, 1) 0%,
		rgba(10, 0, 94, 1) 100%
	);
	animation: linear midnight 1 7s forwards;
}

.sun {
	position: absolute;
	bottom: 0;
	margin: 20px;
	width: 80px;
	height: 80px;
	background-color: rgb(254, 215, 102);
	border-radius: 50%;
	box-shadow: 0 0 14px 14px rgba(254, 215, 102, 0.2);
	z-index: -1;
}

.moon {
	position: absolute;
	bottom: 0;
	margin: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.2);
	z-index: -1;
}

.stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}